<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../../assets/DSC04305.JPG" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>A Quality Assurance Professional, or Quality Control Professional, is in charge of inspecting products at different phases in their development to ensure they meet a set of consistent standards</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
            </div>

        </div>
    </div>
</div>